<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>goodletb - Final project API Documentation</title>
        <style>
</style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/katex-copytex@latest/dist/katex-copytex.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/markdown.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/highlight.css">
<style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
                font-size: 14px;
                line-height: 1.6;
            }
        </style>
        <style>
.task-list-item { list-style-type: none; } .task-list-item-checkbox { margin-left: -20px; vertical-align: middle; }
</style>
        
        <script src="https://cdn.jsdelivr.net/npm/katex-copytex@latest/dist/katex-copytex.min.js"></script>
        
    </head>
    <body class="vscode-body vscode-light">
        <h1 id="goodletb---final-project-api-documentation">goodletb - Final project API Documentation</h1>
<h2 id="app-url-httpsgoodletb-finalwlrappspotcom">App URL: <a href="https://goodletb-final.wl.r.appspot.com/">https://goodletb-final.wl.r.appspot.com/</a></h2>
<h2 id="account-creation--login-url-none">Account Creation / Login URL: none</h2>
<p>I didn't implement a frontent page. There are requests in the postman collection that I created which will automatically create two users and log into them, storing their jwt in the {{jwt1}} and {{jwt2}} variables.</p>
<h1 id="data-model">Data Model</h1>
<h2 id="user">User</h2>
<table>
<thead>
<tr>
<th>Property</th>
<th>Type</th>
<th>Required</th>
<th>Accepted Values</th>
</tr>
</thead>
<tbody>
<tr>
<td>user_id</td>
<td>int</td>
<td>auto</td>
<td>na</td>
</tr>
<tr>
<td>username</td>
<td>string</td>
<td>yes</td>
<td>min=4, max=45, match=<code>/^[\d\w]{4,45}$/</code></td>
</tr>
<tr>
<td>password</td>
<td>string</td>
<td>yes</td>
<td>min=6, max=60, match=<code>/^[\s\d\w]{6,60}$/</code></td>
</tr>
</tbody>
</table>
<h2 id="boat">Boat</h2>
<table>
<thead>
<tr>
<th>Property</th>
<th>Type</th>
<th>Required</th>
<th>Accepted Values</th>
</tr>
</thead>
<tbody>
<tr>
<td>boat_id</td>
<td>int</td>
<td>auto</td>
<td>na</td>
</tr>
<tr>
<td>owner_id</td>
<td>int</td>
<td>yes</td>
<td>min=1, max=9999999999</td>
</tr>
<tr>
<td>boat_name</td>
<td>string</td>
<td>yes</td>
<td>min=4, max=45, match=<code>/^[\d\w\s]{4,45}$/</code></td>
</tr>
<tr>
<td>boat_type</td>
<td>string</td>
<td>yes</td>
<td>min=1, max=45, match=<code>/^[\d\w\s]{4,45}$/</code></td>
</tr>
<tr>
<td>length</td>
<td>int</td>
<td>yes</td>
<td>min=0, max= 9999999999</td>
</tr>
</tbody>
</table>
<h2 id="load">Load</h2>
<table>
<thead>
<tr>
<th>Property</th>
<th>Type</th>
<th>Required</th>
<th>Accepted Values</th>
</tr>
</thead>
<tbody>
<tr>
<td>load_id</td>
<td>int</td>
<td>auto</td>
<td>na</td>
</tr>
<tr>
<td>description</td>
<td>string</td>
<td>yes</td>
<td>min=1, max=100, match=<code>/^(.){1,100}$/</code></td>
</tr>
<tr>
<td>weight</td>
<td>int</td>
<td>yes</td>
<td>min=1, max=9999999999</td>
</tr>
<tr>
<td>deliver_by</td>
<td>date</td>
<td>yes</td>
<td>'yyyy-mm-dd'</td>
</tr>
</tbody>
</table>
<hr>
<h2 id="description-of-relationship-between-entities">Description of relationship between entities</h2>
<p>A user can own one or more boats. Once they log in, any boat they create will automatically have their id as the owner_id. They can also create loads, however, these have no relationship to the user and anybody can edit them (I would never do this in a real api). The loads can be loaded into a boat, which is modeled in the database as a table with the boat_id and load_id to show that load_id is on boat_id. The user does not see this table, but sees the boat_id when requesting loads, and the load_ids that are on a boat when requesting them. Boats can be unloaded as well, and will automatically be unloaded on the deletion of a boat. When deleting a load, it will automatically be removed from any boats.</p>
<h2 id="description-of-user-model">Description of user model</h2>
<p>For my user_id, I simply used the id that my database assigned to the row when inserting the new user. This made it easy to guarantee that I would never have a duplicate ID and didn't have to worry about generating new ones. When a user is created, the user sends a post request to the /Users route with a body using the following format:</p>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;username&quot;</span>:<span class="hljs-string">&quot;example_username&quot;</span>,
    <span class="hljs-attr">&quot;password&quot;</span>:<span class="hljs-string">&quot;example_password&quot;</span>
}
</div></code></pre>
<p>When the user has been created, a user can log into the user by making a post request to /Users/token, using the same body as before to supply the username and password they would like to use for authentication. Once they have been authenticated, they are given a jwt that has their user_id in it for authentication on future requests. For all requests other than the users and token post routes, all requests will be authenticated using a json web token. The user only needs to login once and then they will be able to pass the jwt for all future requests. This jwt contains the user's user_id inside, so the server can know which user it is interacting with without having to make a request to the database and lookup the name. When a boat is created, the user_id is used to set the owner_id of the boat. This is how the user gets their relationship to the boat. When a user requests all boats, it will filter only the boats that have an owner_id that matches the supplied jwt's user_id field.</p>
<h2 id="other-notes">Other Notes</h2>
<ul>
<li>In the following API spec, I did not specify the 405 or 406 returns for the routes. The API does return these errors in the appropriate situations, and there are a few tests in my postman collection which demonstrate this. Below are examples of the 405 and 406 errors.</li>
</ul>
<h3 id="405---method-not-allowed"><code>405 - Method Not Allowed</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Method not allowed&quot;</span>
}
</div></code></pre>
<h3 id="406---not-acceptable"><code>406 - Not Acceptable</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;unacceptable return type. must be &#x27;application/json&#x27;&quot;</span>
}
</div></code></pre>
<ul>
<li>I also did not implement the front end to create a user, but there are requests in my postman collection which will automatically create two users, log into them, and assign their tokens to {{jwt1}} and {{jwt2}} in the postman environment.</li>
<li>The usernames in the postman collection are randomly generated, so if you see usernames like &quot;bNEq7JnY8rhhjdoZOgG4r9lpJdgTaRdqXlVWzflMEyW3&quot;, this is totally expected and they are not modified in any way from what was sent to the server.</li>
<li>Finally, I only showed one instance of an invalid jwt, but literally every route that is protected by a jwt uses the same code to verify the jwt is there, and valid. This means that it will work on any route that is protected by a jwt.</li>
</ul>
<h1 id="routes">Routes</h1>
<h2 id="users">Users</h2>
<h1 id="post-users">POST /users</h1>
<h2 id="description">Description</h2>
<p>Takes a username and password from the request body and creates a new user. Returns the user_id of the newly created user.</p>
<h1 id="request-headers">Request Headers</h1>
<pre><code class="language-JSON"><div>None
</div></code></pre>
<h2 id="request-parameters">Request Parameters</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body">Request Body</h2>
<p>Required</p>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;username&quot;</span>: <span class="hljs-string">&quot;example_username&quot;</span>,
    <span class="hljs-attr">&quot;password&quot;</span>: <span class="hljs-string">&quot;example_password&quot;</span>
}
</div></code></pre>
<h2 id="request-body-format">Request Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="request-json-attributes">Request JSON Attributes</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>username</td>
<td>string</td>
<td>username of the new account</td>
<td>yes</td>
</tr>
<tr>
<td>password</td>
<td>string</td>
<td>password of the new account</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="response-body-format">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>201 Created</code></td>
<td>returns user_id of the newly created user</td>
</tr>
<tr>
<td>Failure</td>
<td><code>400 Bad Request</code></td>
<td>Fails if the input is invalid, or if the user already exists.</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples">Response Body Examples</h2>
<h3 id="success---201-created">Success - <code>201 Created</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;user_id&quot;</span>: <span class="hljs-number">558</span>
}
</div></code></pre>
<h3 id="failure---400-bad-request">Failure - <code>400 Bad Request</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;type&quot;</span>: <span class="hljs-string">&quot;body&quot;</span>,
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;ValidationError: \&quot;password\&quot; is required&quot;</span>
}
</div></code></pre>
<h3 id="failure---400-bad-request-1">Failure - <code>400 Bad Request</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Username hjHAgMjwhEEBnOof11DWjDNZF8dghzO1jTnGlTc5OQVx taken&quot;</span>
}
</div></code></pre>
<h1 id="get-users">GET /users</h1>
<h2 id="description-1">Description</h2>
<p>An unprotected route to provide a list of all users. This is something that would not be good to implement in production and is only added to meet the requirements of the assignment.</p>
<h1 id="request-headers-1">Request Headers</h1>
<pre><code class="language-JSON"><div>None
</div></code></pre>
<h2 id="request-parameters-1">Request Parameters</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-1">Request Body</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-format-1">Request Body Format</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-json-attributes-1">Request JSON Attributes</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="response-body-format-1">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-1">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>200 OK</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>Fails if the database has no Users. Obviously this won't happen often.</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-1">Response Body Examples</h2>
<h3 id="success---200-ok">Success - <code>200 OK</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;users&quot;</span>: [
        {
            <span class="hljs-attr">&quot;user_id&quot;</span>: <span class="hljs-number">1</span>,
            <span class="hljs-attr">&quot;username&quot;</span>: <span class="hljs-string">&quot;test_user&quot;</span>
        },
        {
            <span class="hljs-attr">&quot;user_id&quot;</span>: <span class="hljs-number">2</span>,
            <span class="hljs-attr">&quot;username&quot;</span>: <span class="hljs-string">&quot;test_user1&quot;</span>
        },
        {
            <span class="hljs-attr">&quot;user_id&quot;</span>: <span class="hljs-number">3</span>,
            <span class="hljs-attr">&quot;username&quot;</span>: <span class="hljs-string">&quot;test_user3&quot;</span>
        }
    ]
}
</div></code></pre>
<h3 id="failure---404-not-found">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Users not found&quot;</span>
}
</div></code></pre>
<h1 id="post-userstoken">POST /users/token</h1>
<h2 id="description-2">Description</h2>
<p>Takes the username and password of a user to log in. If the credentials are valid, returns a JSON web token to be used for further authorization.</p>
<h1 id="request-headers-2">Request Headers</h1>
<pre><code class="language-JSON"><div>None
</div></code></pre>
<h2 id="request-parameters-2">Request Parameters</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-2">Request Body</h2>
<pre><code><code><div>{
    username: 'example_username',
    password: 'example_password'
}
</div></code></code></pre>
<h2 id="request-body-format-2">Request Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="request-json-attributes-2">Request JSON Attributes</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>username</td>
<td>string</td>
<td>username of the account</td>
<td>yes</td>
</tr>
<tr>
<td>password</td>
<td>string</td>
<td>password of the account</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="response-body-format-2">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-2">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>201 Created</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>If the username does not exist in the database at all.</td>
</tr>
<tr>
<td>Failure</td>
<td><code>400 Bad Request</code></td>
<td>The username exists in the database, but it does not match with the given password, or the provided data was invalid.</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-2">Response Body Examples</h2>
<h3 id="success---201-created-1">Success - <code>201 Created</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Token&quot;</span>: <span class="hljs-string">&quot;eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>,
    <span class="hljs-attr">&quot;user_id&quot;</span>: <span class="hljs-number">93</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-1">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;User not found&quot;</span>
}
</div></code></pre>
<h3 id="failure---400-bad-request-2">Failure - <code>400 Bad Request</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;type&quot;</span>: <span class="hljs-string">&quot;body&quot;</span>,
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;ValidationError: \&quot;password\&quot; is required&quot;</span>
}
</div></code></pre>
<h2 id="boats">Boats</h2>
<h1 id="post-boats">POST /boats</h1>
<h2 id="description-3">Description</h2>
<p>Create a new boat. Requires authentication and sets the current user as the boat owner. Requires the user to be authenticated and pass a JSON Web Token.</p>
<h1 id="request-headers-3">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-3">Request Parameters</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-3">Request Body</h2>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;boat_name&quot;</span>: <span class="hljs-string">&quot;example_boat_name&quot;</span>,
    <span class="hljs-attr">&quot;boat_type&quot;</span>: <span class="hljs-string">&quot;example_boat_type&quot;</span>,
    <span class="hljs-attr">&quot;length&quot;</span>: <span class="hljs-number">100</span>
}
</div></code></pre>
<h2 id="request-body-format-3">Request Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="request-json-attributes-3">Request JSON Attributes</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>boat_name</td>
<td>string</td>
<td>name of the boat</td>
<td>yes</td>
</tr>
<tr>
<td>boat_type</td>
<td>string</td>
<td>a description the type of boat</td>
<td>yes</td>
</tr>
<tr>
<td>length</td>
<td>int</td>
<td>the length of the boat</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="response-body-format-3">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-3">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>201 Created</code></td>
<td>boat created successfully</td>
</tr>
<tr>
<td>Failure</td>
<td><code>400 Bad Request</code></td>
<td>Invalid data given in request body</td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>Authorization token invalid or missing</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-3">Response Body Examples</h2>
<h3 id="success---201-created-2">Success - <code>201 Created</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;boat_name&quot;</span>: <span class="hljs-string">&quot;testboat&quot;</span>,
    <span class="hljs-attr">&quot;boat_type&quot;</span>: <span class="hljs-string">&quot;sail boat&quot;</span>,
    <span class="hljs-attr">&quot;length&quot;</span>: <span class="hljs-number">40</span>,
    <span class="hljs-attr">&quot;owner_id&quot;</span>: <span class="hljs-number">555</span>,
    <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-number">377</span>,
    <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/boats/377&quot;</span>
}
</div></code></pre>
<h3 id="failure---400-bad-request-3">Failure - <code>400 Bad Request</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;type&quot;</span>: <span class="hljs-string">&quot;body&quot;</span>,
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;ValidationError: \&quot;boat_type\&quot; is required. \&quot;length\&quot; is required&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h1 id="get-boats">GET /boats</h1>
<h2 id="description-4">Description</h2>
<p>Gets a list of all boats that the user is the owner of. Fails if they are not authorized.</p>
<h1 id="request-headers-4">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-4">Request Parameters</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-4">Request Body</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-format-4">Request Body Format</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-json-attributes-4">Request JSON Attributes</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="response-body-format-4">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-4">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>200 OK</code></td>
<td>returns a list of all boats the current user has access to</td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>user is not authorized or provided an invalid jwt</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>fails when there are no boats (or public boats if not authorized) in the database</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-4">Response Body Examples</h2>
<h3 id="success---200-ok-1">Success - <code>200 OK</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;boats&quot;</span>: [
        {
            <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-number">376</span>,
            <span class="hljs-attr">&quot;owner_id&quot;</span>: <span class="hljs-number">555</span>,
            <span class="hljs-attr">&quot;boat_name&quot;</span>: <span class="hljs-string">&quot;testboat&quot;</span>,
            <span class="hljs-attr">&quot;boat_type&quot;</span>: <span class="hljs-string">&quot;sail boat&quot;</span>,
            <span class="hljs-attr">&quot;length&quot;</span>: <span class="hljs-number">40</span>,
            <span class="hljs-attr">&quot;loads&quot;</span>: [],
            <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/boats/376&quot;</span>
        },
        {
            <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-number">377</span>,
            <span class="hljs-attr">&quot;owner_id&quot;</span>: <span class="hljs-number">555</span>,
            <span class="hljs-attr">&quot;boat_name&quot;</span>: <span class="hljs-string">&quot;testboat&quot;</span>,
            <span class="hljs-attr">&quot;boat_type&quot;</span>: <span class="hljs-string">&quot;sail boat&quot;</span>,
            <span class="hljs-attr">&quot;length&quot;</span>: <span class="hljs-number">40</span>,
            <span class="hljs-attr">&quot;loads&quot;</span>: [],
            <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/boats/377&quot;</span>
        }
    ],
    <span class="hljs-attr">&quot;count&quot;</span>: <span class="hljs-number">2</span>,
    <span class="hljs-attr">&quot;next&quot;</span>: <span class="hljs-string">&quot;NO MORE PAGES&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized-1">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-2">Failure - `404 Not Found</h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;User has no boats&quot;</span>
}
</div></code></pre>
<h1 id="get-boatsboat_id">GET /boats/:boat_id</h1>
<h2 id="description-5">Description</h2>
<p>Gets a single boat by id. Rejected if the boat is not public and the user is not the owner.</p>
<h1 id="request-headers-5">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-5">Request Parameters</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>boat_id</td>
<td>int</td>
<td>id of the boat to be returned</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="request-body-5">Request Body</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-format-5">Request Body Format</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-json-attributes-5">Request JSON Attributes</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="response-body-format-5">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-5">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>200 OK</code></td>
<td>boat with boat_id exists and the user has permission to view it</td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>Boat exists, is private, and the user is not authorized</td>
</tr>
<tr>
<td>Failure</td>
<td><code>403 Forbidden</code></td>
<td>Boat exists but the user does not have permission to view it</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>boat with boat_id does not exist</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-5">Response Body Examples</h2>
<h3 id="success---200-ok-2">Success - <code>200 OK</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-number">377</span>,
    <span class="hljs-attr">&quot;owner_id&quot;</span>: <span class="hljs-number">555</span>,
    <span class="hljs-attr">&quot;boat_name&quot;</span>: <span class="hljs-string">&quot;testboat&quot;</span>,
    <span class="hljs-attr">&quot;boat_type&quot;</span>: <span class="hljs-string">&quot;sail boat&quot;</span>,
    <span class="hljs-attr">&quot;length&quot;</span>: <span class="hljs-number">40</span>,
    <span class="hljs-attr">&quot;loads&quot;</span>: [
        <span class="hljs-number">32</span>,
        <span class="hljs-number">45</span>,
        <span class="hljs-number">46</span>
    ],
    <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/boats/377&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized-2">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---403-forbidden">Failure - <code>403 Forbidden</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;you do not own this boat&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-3">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;boat not found&quot;</span>
}
</div></code></pre>
<h1 id="post-boatsboat_idloadsload_id">POST /boats/:boat_id/loads/:load_id</h1>
<h2 id="description-6">Description</h2>
<p>Add the load with load_id to the boat with boat_id. Only works if both boat_id and load_id correspond to existing entities, and if the user is authenticated and the owner of the boat. Also requires the load to not already be in another boat.</p>
<h1 id="request-headers-6">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-6">Request Parameters</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>boat_id</td>
<td>int</td>
<td>id of the boat</td>
<td>yes</td>
</tr>
<tr>
<td>load_id</td>
<td>int</td>
<td>id of the load to be added to the boat</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="request-body-6">Request Body</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-format-6">Request Body Format</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-json-attributes-6">Request JSON Attributes</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="response-body-format-6">Response Body Format</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="response-status-codes-6">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>204 No Content</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>400 Bad Request</code></td>
<td>the load is already in a boat</td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>user is not authenticated</td>
</tr>
<tr>
<td>Failure</td>
<td><code>403 Forbidden</code></td>
<td>user does not own the boat</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>either the boat or load does not exist</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-6">Response Body Examples</h2>
<h3 id="success---204-no-content">Success - <code>204 No Content</code></h3>
<pre><code class="language-JSON"><div>
</div></code></pre>
<h3 id="failure---400-bad-request-4">Failure - <code>400 Bad Request</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;load already loaded&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized-3">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---403-forbidden-1">Failure - <code>403 Forbidden</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;you do not own this boat&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-4">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;boat not found&quot;</span>
}
</div></code></pre>
<h1 id="delete-boatsboat_idloadsload_id">DELETE /boats/:boat_id/loads/:load_id</h1>
<h2 id="description-7">Description</h2>
<p>Remove the load with load_id from the boat with boat_id. Both entities must exist and the load must be in the boat.</p>
<h1 id="request-headers-7">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-7">Request Parameters</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>boat_id</td>
<td>int</td>
<td>id of the boat</td>
<td>yes</td>
</tr>
<tr>
<td>load_id</td>
<td>int</td>
<td>id of the load to be added to the boat</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="request-body-7">Request Body</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-format-7">Request Body Format</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-json-attributes-7">Request JSON Attributes</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="response-body-format-7">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-7">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>204 No Content</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>400 Bad Request</code></td>
<td>the load is not in the boat</td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>the user is not authenticated</td>
</tr>
<tr>
<td>Failure</td>
<td><code>403 Forbidden</code></td>
<td>user does not own the boat</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>either the boat or load does not exist</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-7">Response Body Examples</h2>
<h3 id="success---204-no-content-1">Success - <code>204 No Content</code></h3>
<pre><code class="language-JSON"><div>
</div></code></pre>
<h3 id="failure---400-bad-request-5">Failure - <code>400 Bad Request</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;load not loaded&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized-4">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---403-forbidden-2">Failure - <code>403 Forbidden</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;you do not own this boat&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-5">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;boat not found&quot;</span>
}
</div></code></pre>
<h1 id="get-boatsboat_idloads">GET /boats/:boat_id/loads/</h1>
<h2 id="description-8">Description</h2>
<p>Get a list of loads that are carried by the given boat. User must have permission to view the boat.</p>
<h1 id="request-headers-8">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-8">Request Parameters</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>boat_id</td>
<td>int</td>
<td>id of the boat</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="request-body-8">Request Body</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-format-8">Request Body Format</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-json-attributes-8">Request JSON Attributes</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="response-body-format-8">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-8">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>200 OK</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>user is not authorized</td>
</tr>
<tr>
<td>Failure</td>
<td><code>403 Forbidden</code></td>
<td>user does not have permission to view this boat</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>boat does not exist</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-8">Response Body Examples</h2>
<h3 id="success---200-ok-3">Success - <code>200 OK</code></h3>
<pre><code class="language-JSON"><div>[
    {
        <span class="hljs-attr">&quot;deliver_by&quot;</span>: <span class="hljs-string">&quot;2021-01-19T00:00:00.000Z&quot;</span>,
        <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;testdescription&quot;</span>,
        <span class="hljs-attr">&quot;load_id&quot;</span>: <span class="hljs-number">548</span>,
        <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">40</span>,
        <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-number">377</span>,
        <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/loads/548&quot;</span>
    }
]
</div></code></pre>
<h3 id="failure---401-unauthorized-5">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---403-forbidden-3">Failure - <code>403 Forbidden</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;you do not own this boat&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-6">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;boat not found&quot;</span>
}
</div></code></pre>
<h1 id="patch-boatsboat_id">PATCH /boats/:boat_id</h1>
<h2 id="description-9">Description</h2>
<p>Modify a boat taking in only the properties that are to be modified.</p>
<h1 id="request-headers-9">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-9">Request Parameters</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>boat_id</td>
<td>int</td>
<td>id of the boat</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="request-body-9">Request Body</h2>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;name&quot;</span>: <span class="hljs-string">&quot;updated_name&quot;</span>
}
</div></code></pre>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;type&quot;</span>: <span class="hljs-string">&quot;updated_type&quot;</span>
}
</div></code></pre>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;name&quot;</span>: <span class="hljs-string">&quot;updated_name&quot;</span>,
    <span class="hljs-attr">&quot;type&quot;</span>: <span class="hljs-string">&quot;updated_type&quot;</span>
}
</div></code></pre>
<h2 id="request-body-format-9">Request Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="request-json-attributes-9">Request JSON Attributes</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>name</td>
<td>string</td>
<td>name of the boat</td>
<td>optional</td>
</tr>
<tr>
<td>type</td>
<td>string</td>
<td>type of the boat</td>
<td>optional</td>
</tr>
<tr>
<td>length</td>
<td>int</td>
<td>length of the boat</td>
<td>optional</td>
</tr>
</tbody>
</table>
<h2 id="response-body-format-9">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-9">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>204 No Content</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>400 Bad Request</code></td>
<td>no properties were sent</td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>the user is not authorized</td>
</tr>
<tr>
<td>Failure</td>
<td><code>403 Forbidden</code></td>
<td>user is authorized but does now own the boat</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>Boat does not exist</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-9">Response Body Examples</h2>
<h3 id="success---204-no-content-2">Success - <code>204 No Content</code></h3>
<pre><code class="language-JSON"><div>
</div></code></pre>
<h3 id="failure---400-bad-request-6">Failure - <code>400 Bad Request</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;type&quot;</span>: <span class="hljs-string">&quot;body&quot;</span>,
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;ValidationError: \&quot;value\&quot; must contain at least one of [boat_name, boat_type, length]&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized-6">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---403-forbidden-4">Failure - <code>403 Forbidden</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;you do not own this boat&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-7">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;boat not found&quot;</span>
}
</div></code></pre>
<h1 id="put-boatsboat_id">PUT /boats/:boat_id</h1>
<h2 id="description-10">Description</h2>
<p>Replace the underlying data for a boat with a completely new boat. Maintains boat_id, owner_id, and the loads array while changing everything else.</p>
<h1 id="request-headers-10">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-10">Request Parameters</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>boat_id</td>
<td>int</td>
<td>id of the boat</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="request-body-10">Request Body</h2>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;name&quot;</span>: <span class="hljs-string">&quot;updated_name&quot;</span>,
    <span class="hljs-attr">&quot;type&quot;</span>: <span class="hljs-string">&quot;updated_type&quot;</span>,
    <span class="hljs-attr">&quot;length&quot;</span>: <span class="hljs-number">20</span>
}
</div></code></pre>
<h2 id="request-body-format-10">Request Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="request-json-attributes-10">Request JSON Attributes</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>name</td>
<td>string</td>
<td>name of the boat</td>
<td>yes</td>
</tr>
<tr>
<td>type</td>
<td>string</td>
<td>type of the boat</td>
<td>yes</td>
</tr>
<tr>
<td>length</td>
<td>int</td>
<td>length of the boat</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="response-body-format-10">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-10">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>204 No Content</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>400 Bad Request</code></td>
<td>Invalid or missing properties</td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>user is not authorized</td>
</tr>
<tr>
<td>Failure</td>
<td><code>403 Forbidden</code></td>
<td>user does not own the boat</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>boat does not exist</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-10">Response Body Examples</h2>
<h3 id="success---204-no-conent">Success - <code>204 No Conent</code></h3>
<pre><code class="language-JSON"><div>
</div></code></pre>
<h3 id="failure---400-bad-request-7">Failure - <code>400 Bad Request</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;type&quot;</span>: <span class="hljs-string">&quot;body&quot;</span>,
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;ValidationError: \&quot;length\&quot; is required&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized-7">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---403-forbidden-5">Failure - <code>403 Forbidden</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;you do not own this boat&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-8">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;boat not found&quot;</span>
}
</div></code></pre>
<h1 id="delete-boatsboat_id">DELETE /boats/:boat_id</h1>
<h2 id="description-11">Description</h2>
<p>Deletes a boat if the user is authorized to do so and it exists.</p>
<h1 id="request-headers-11">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-11">Request Parameters</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-11">Request Body</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-format-11">Request Body Format</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-json-attributes-11">Request JSON Attributes</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="response-body-format-11">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-11">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>204 No Content</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>403 Forbidden</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-11">Response Body Examples</h2>
<h3 id="success---204-no-conent-1">Success - <code>204 No Conent</code></h3>
<pre><code class="language-JSON"><div>
</div></code></pre>
<h3 id="failure---401-unauthorized-8">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---403-forbidden-6">Failure - <code>403 Forbidden</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;you do not own this boat&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-9">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;boat not found&quot;</span>
}
</div></code></pre>
<h2 id="loads">Loads</h2>
<h1 id="post-loads">POST /loads</h1>
<h2 id="description-12">Description</h2>
<p>Create a new load.</p>
<h1 id="request-headers-12">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-12">Request Parameters</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-12">Request Body</h2>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;example description&quot;</span>,
    <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">50</span>,
    <span class="hljs-attr">&quot;deliver_by&quot;</span>: <span class="hljs-string">&quot;2021-01-20&quot;</span>
}
</div></code></pre>
<h2 id="request-body-format-12">Request Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="request-json-attributes-12">Request JSON Attributes</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>description</td>
<td>string</td>
<td>a description of the load</td>
<td>yes</td>
</tr>
<tr>
<td>weight</td>
<td>int</td>
<td>the weight of the load</td>
<td>yes</td>
</tr>
<tr>
<td>deliver_by</td>
<td>date</td>
<td>the date the load needs to be delivered by</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="response-body-format-12">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-12">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>201 Created</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>400 Bad Request</code></td>
<td>Invalid or missing property</td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>User is not authorized</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-12">Response Body Examples</h2>
<h3 id="success---201-created-3">Success - <code>201 Created</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;test&quot;</span>,
    <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">40</span>,
    <span class="hljs-attr">&quot;deliver_by&quot;</span>: <span class="hljs-string">&quot;2020-02-20&quot;</span>,
    <span class="hljs-attr">&quot;load_id&quot;</span>: <span class="hljs-number">551</span>,
    <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-literal">null</span>,
    <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/loads/551&quot;</span>
}
</div></code></pre>
<h3 id="failure---400-bad-request-8">Failure - <code>400 Bad Request</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;type&quot;</span>: <span class="hljs-string">&quot;body&quot;</span>,
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;ValidationError: \&quot;description\&quot; is required. \&quot;weight\&quot; is required. \&quot;deliver_by\&quot; is required. \&quot;boat_name\&quot; is not allowed. \&quot;boat_type\&quot; is not allowed. \&quot;length\&quot; is not allowed&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized-9">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h1 id="get-loads">GET /loads</h1>
<h2 id="description-13">Description</h2>
<p>get all loads.</p>
<h1 id="request-headers-13">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-13">Request Parameters</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-13">Request Body</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-format-13">Request Body Format</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-json-attributes-13">Request JSON Attributes</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="response-body-format-13">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-13">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>200 OK</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>user not authorized</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>db has no loads</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-13">Response Body Examples</h2>
<h3 id="success---200-ok-4">Success - <code>200 OK</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;loads&quot;</span>: [
        {
            <span class="hljs-attr">&quot;deliver_by&quot;</span>: <span class="hljs-string">&quot;2020-12-20T00:00:00.000Z&quot;</span>,
            <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;test&quot;</span>,
            <span class="hljs-attr">&quot;load_id&quot;</span>: <span class="hljs-number">2</span>,
            <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">40</span>,
            <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-literal">null</span>,
            <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/loads/2&quot;</span>
        },
        {
            <span class="hljs-attr">&quot;deliver_by&quot;</span>: <span class="hljs-string">&quot;2020-12-20T00:00:00.000Z&quot;</span>,
            <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;test&quot;</span>,
            <span class="hljs-attr">&quot;load_id&quot;</span>: <span class="hljs-number">3</span>,
            <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">40</span>,
            <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-literal">null</span>,
            <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/loads/3&quot;</span>
        },
        {
            <span class="hljs-attr">&quot;deliver_by&quot;</span>: <span class="hljs-string">&quot;2020-12-20T00:00:00.000Z&quot;</span>,
            <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;test&quot;</span>,
            <span class="hljs-attr">&quot;load_id&quot;</span>: <span class="hljs-number">4</span>,
            <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">40</span>,
            <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-literal">null</span>,
            <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/loads/4&quot;</span>
        },
        {
            <span class="hljs-attr">&quot;deliver_by&quot;</span>: <span class="hljs-string">&quot;2020-12-20T00:00:00.000Z&quot;</span>,
            <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;test&quot;</span>,
            <span class="hljs-attr">&quot;load_id&quot;</span>: <span class="hljs-number">5</span>,
            <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">40</span>,
            <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-literal">null</span>,
            <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/loads/5&quot;</span>
        },
        {
            <span class="hljs-attr">&quot;deliver_by&quot;</span>: <span class="hljs-string">&quot;2020-12-16T00:00:00.000Z&quot;</span>,
            <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;test1&quot;</span>,
            <span class="hljs-attr">&quot;load_id&quot;</span>: <span class="hljs-number">6</span>,
            <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">6969</span>,
            <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-literal">null</span>,
            <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/loads/6&quot;</span>
        }
    ],
    <span class="hljs-attr">&quot;count&quot;</span>: <span class="hljs-number">384</span>,
    <span class="hljs-attr">&quot;next&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/loads?page_size=5&amp;page=1&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized-10">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-10">Failure - <code>404 Not Found</code></h3>
<p>I was unable to test this with the postman collection as there is no way to guarentee there will not be loads in the db when this is run.</p>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;No loads found&quot;</span>
}
</div></code></pre>
<h1 id="get-loadsload_id">GET /loads/:load_id</h1>
<h2 id="description-14">Description</h2>
<p>get an individual load by id</p>
<h1 id="request-headers-14">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-14">Request Parameters</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>load_id</td>
<td>int</td>
<td>id of the load</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="request-body-14">Request Body</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-format-14">Request Body Format</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-json-attributes-14">Request JSON Attributes</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="response-body-format-14">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-14">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>200 OK </code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>user is not authorized</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>load does not exist</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-14">Response Body Examples</h2>
<h3 id="success---200-ok-5">Success - <code>200 OK</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;deliver_by&quot;</span>: <span class="hljs-string">&quot;2021-01-19T00:00:00.000Z&quot;</span>,
    <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;testdescription&quot;</span>,
    <span class="hljs-attr">&quot;load_id&quot;</span>: <span class="hljs-number">550</span>,
    <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">40</span>,
    <span class="hljs-attr">&quot;boat_id&quot;</span>: <span class="hljs-literal">null</span>,
    <span class="hljs-attr">&quot;self&quot;</span>: <span class="hljs-string">&quot;http://localhost:3000/loads/550&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized-11">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-11">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;load not found&quot;</span>
}
</div></code></pre>
<h1 id="patch-loadsload_id">PATCH /loads/:load_id</h1>
<h2 id="description-15">Description</h2>
<p>Modify a load taking in only the properties that are to be modified.</p>
<h1 id="request-headers-15">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-15">Request Parameters</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>load_id</td>
<td>int</td>
<td>id of the load</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="request-body-15">Request Body</h2>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;updated_description&quot;</span>
}
</div></code></pre>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">39</span>
}
</div></code></pre>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;updated_description&quot;</span>,
    <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">39</span>
}
</div></code></pre>
<h2 id="request-body-format-15">Request Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="request-json-attributes-15">Request JSON Attributes</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>description</td>
<td>string</td>
<td>description of the load</td>
<td>optional</td>
</tr>
<tr>
<td>weight</td>
<td>int</td>
<td>weight of the load</td>
<td>optional</td>
</tr>
<tr>
<td>deliver_by</td>
<td>date</td>
<td>date the load needs to be delivered by</td>
<td>optional</td>
</tr>
</tbody>
</table>
<h2 id="response-body-format-15">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-15">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>204 No Content</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>400 Bad Request</code></td>
<td>Invalid properties or no properties sent</td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>User is not authorized</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>the load does not exist</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-15">Response Body Examples</h2>
<h3 id="success---204-no-content-3">Success - <code>204 No Content</code></h3>
<pre><code class="language-JSON"><div>
</div></code></pre>
<h3 id="failure---400-bad-request-9">Failure - <code>400 Bad Request</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;type&quot;</span>: <span class="hljs-string">&quot;body&quot;</span>,
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;ValidationError: \&quot;value\&quot; must contain at least one of [description, weight, deliver_by]&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized-12">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-12">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;load not found&quot;</span>
}
</div></code></pre>
<h1 id="put-loadsload_id">PUT /loads/:load_id</h1>
<h2 id="description-16">Description</h2>
<p>Fully replace the underlying data for a given load. Maintains load_id</p>
<h1 id="request-headers-16">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-16">Request Parameters</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>load_id</td>
<td>int</td>
<td>id of the load</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="request-body-16">Request Body</h2>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;description&quot;</span>: <span class="hljs-string">&quot;updated_description&quot;</span>,
    <span class="hljs-attr">&quot;weight&quot;</span>: <span class="hljs-number">39</span>,
    <span class="hljs-attr">&quot;deliver_by&quot;</span>: <span class="hljs-string">&quot;2021-02-19&quot;</span>
}
</div></code></pre>
<h2 id="request-body-format-16">Request Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="request-json-attributes-16">Request JSON Attributes</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>description</td>
<td>string</td>
<td>description of the load</td>
<td>yes</td>
</tr>
<tr>
<td>weight</td>
<td>int</td>
<td>weight of the load</td>
<td>yes</td>
</tr>
<tr>
<td>deliver_by</td>
<td>date</td>
<td>date the load needs to be delivered by</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="response-body-format-16">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="request-json-attributes-17">Request JSON Attributes</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>description</td>
<td>string</td>
<td>description of the load</td>
<td>optional</td>
</tr>
<tr>
<td>weight</td>
<td>int</td>
<td>weight of the load</td>
<td>optional</td>
</tr>
<tr>
<td>deliver_by</td>
<td>date</td>
<td>date the load needs to be delivered by</td>
<td>optional</td>
</tr>
</tbody>
</table>
<h2 id="response-body-format-17">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-16">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>204 No Content</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>400 Bad Request</code></td>
<td>Invalid or missing properties</td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>User is not authorized</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>the load does not exist</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-16">Response Body Examples</h2>
<h3 id="success---204-no-content-4">Success - <code>204 No Content</code></h3>
<pre><code class="language-JSON"><div>
</div></code></pre>
<h3 id="failure---400-bad-request-10">Failure - <code>400 Bad Request</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;type&quot;</span>: <span class="hljs-string">&quot;body&quot;</span>,
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;ValidationError: \&quot;description\&quot; is required&quot;</span>
}
</div></code></pre>
<h3 id="failure---401-unauthorized-13">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-13">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;load not found&quot;</span>
}
</div></code></pre>
<h1 id="delete-loadsload_id">DELETE /loads/:load_id</h1>
<h2 id="description-17">Description</h2>
<p>Delete the boat with the given id. I didn't implement an owner_id for the loads, so a load can be deleted by anybody. This is something that would need to change to use an app like this in production but is not difficult to add.</p>
<h1 id="request-headers-17">Request Headers</h1>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;Authorization&quot;</span>: <span class="hljs-string">&quot;Bearer eyjHbgciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3R1c2VybmFtZSIsInVzZXJfaWQiOjkzLCJpYXQiOjE2MDcxNDE5NjN9.rR8FJYXMDYqekez3M5uPEsLsu7wZM_j4Nb-OvFg9RFw&quot;</span>
}
</div></code></pre>
<h2 id="request-parameters-17">Request Parameters</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Required?</th>
</tr>
</thead>
<tbody>
<tr>
<td>load_id</td>
<td>int</td>
<td>id of the load</td>
<td>yes</td>
</tr>
</tbody>
</table>
<h2 id="request-body-17">Request Body</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-body-format-17">Request Body Format</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="request-json-attributes-18">Request JSON Attributes</h2>
<pre><code><code><div>None
</div></code></code></pre>
<h2 id="response-body-format-18">Response Body Format</h2>
<pre><code><code><div>application/json
</div></code></code></pre>
<h2 id="response-status-codes-17">Response Status Codes</h2>
<table>
<thead>
<tr>
<th>Outcome</th>
<th>Status Code</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>Success</td>
<td><code>204 No Content</code></td>
<td></td>
</tr>
<tr>
<td>Failure</td>
<td><code>401 Unauthorized</code></td>
<td>User is not authorized</td>
</tr>
<tr>
<td>Failure</td>
<td><code>404 Not Found</code></td>
<td>the load does not exist</td>
</tr>
</tbody>
</table>
<h2 id="response-body-examples-17">Response Body Examples</h2>
<h3 id="success---204-no-content-5">Success - <code>204 No Content</code></h3>
<pre><code class="language-JSON"><div>
</div></code></pre>
<h3 id="failure---401-unauthorized-14">Failure - <code>401 Unauthorized</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;Authentication required&quot;</span>
}
</div></code></pre>
<h3 id="failure---404-not-found-14">Failure - <code>404 Not Found</code></h3>
<pre><code class="language-JSON"><div>{
    <span class="hljs-attr">&quot;message&quot;</span>: <span class="hljs-string">&quot;load not found&quot;</span>
}
</div></code></pre>

    </body>
    </html>